<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
    <title>Contact Us</title>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="{{ url_for('index')}}">Some Don't Like It Hot</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="{{ url_for('index')}}">Home</a></li>
            <li><a href="{{ url_for('fips')}}">What is FIPS?</a></li>
            <li><a href="{{ url_for('findings')}}">Findings</a></li>
            <li class="active"><a href="{{ url_for('contactus')}}">Contact Information</a></li>
          </ul>
        </div>
      </nav>

      <div>
        <div class="col-lg-12">
          <h2>About Marcos:</h2>
          <a href="https://www.linkedin.com/in/marcos-palacio-mba-mse-596453125/" style="font-size: 2em;">Linkdin Profile</a>
          <h3>Marcos is a Mechanical Engineer interesting in Data Analytics and Visualization and how Big Data could be used in the industry.
            He is a believer of the Continuous Improvement and is constantly learning, finding new ways and tools to reduce waste / non value activities in any process, but most important; thinking out of the box.</h3>
          <a href="{{ url_for('contactmarc')}}">  
            <button>Marcos Palacio's Resume</button>  
          </a>
        </div>
        <div class="col-lg-12">
          <h2>About Jacob:</h2>
          <a href="https://www.linkedin.com/in/#####/" style="font-size: 2em;">Linkdin Profile</a>
          <h3>Jake is a newly minted GIS Technician who is interested in digging deeper into geospatial analysis.
            This interest stems from an inquisitive disposition that says the world is full of complexities that need to be unraveled.</h3>
          <a href="{{ url_for('contactjake')}}">  
            <button>Jacob Wellman's Resume</button>  
          </a>
        </div>
        <div class="col-lg-12">
          <h2>About Luke:</h2>
          <a href="https://www.linkedin.com/in/luke-stephenson-4a609571/" style="font-size: 2em;">Linkdin Profile</a>
          <h3>Luke is a programming enthusiast who enjoys figuring out how the world works. From his education in Economics, to his career as an industrial controls engineer, making sense of the world is what makes him tick.
            Luke is interested in expanding his skills repertiore to include any and all forms of programming that may be of use to himself and his future employers. He hopes to launch a website by July 2022 to further showcase his skills.</h3>
          <a href="{{ url_for('contactluke')}}">  
            <button>Luke Stephenson's Resume</button>  
          </a>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
        </div>
      </div>
    </body>
</html>