<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
    <title>Findings</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light static-top mb-5 shadow">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="{{ url_for('index')}}">Some Don't Like It Hot</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="{{ url_for('index')}}">Home</a></li>
            <li><a href="{{ url_for('model')}}">Machine Learning Model</a></li>
            <li class="active"><a href = "{{ url_for('findings')}}">Findings</a></li>
            <li><a href="{{ url_for('contactus')}}">Contact Information</a></li>
          </ul>
        </div>
    </nav>
    <div class="container">
      <div class="container-bg"></div>
      <div class="col-lg-4">
        <p>
          <h2 style="text-align:center font-size:1vw" opacity=1>The correlation matrix associated with our dataset shows that there isn't enough correlation between the weather and the divorce rate to be distinguishable from noise at a statistical level. Ergo, the assumption is that there is no true correlation between these factors.</h2>
        </p>
      </div>
      <div class="col-lg-8">
        <img src="{{ url_for('static', filename='Images/Corr_Matrix.png') }}" alt="Correlation Matrix for Weather Data and Divorce Rates." style="width:100%;height:100%;" opacity=1></img>
      </div>
    </div>
  </body>
</html>